// Case
.component-case {
  position: absolute;
  width: $dimension-100-percent;
  height: $dimension-100-percent;
  transform-style: preserve-3d;
  pointer-events: none;

  &:first-child {
    z-index: 1;
  }

  &:not(:first-child) {
    z-index: 0;
  }

  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $dimension-100-percent;
    height: $dimension-100-percent;
    padding: 64px;
    pointer-events: none;

    &.content-horizontal {
      &-left {
        justify-content: start;
      }

      &-right {
        justify-content: end;
      }
    }

    &.content-vertical {
      &-top {
        align-items: start;
      }

      &-bottom {
        align-items: end;
      }
    }

    .card-case {
      pointer-events: auto; 

      .card-wrapper {
        display: flex;
        flex-direction: column;

        .image-wrapper {
          margin: 0;

          img {
            max-width: 72vw;
            max-height: 72vh;
          }
        }

        .heading {
          margin: 0;
          flex-grow: 2;
        }
      }
    }
  }
}
