// Detail
.case-detail {
  width: $dimension-100-percent;
  height: $dimension-100-percent;
  padding: $element-spacing 0;
  display: flex;
  flex-direction: column;
  gap: $element-spacing;
  justify-content: space-between;

  .copy {
    padding: 0 $element-spacing;
    display: flex;
    gap: $element-spacing;
    justify-content: space-between;

    .heading {
      flex: 1;
    }

    .paragraph {
      flex: 1;
    }
  }

  .gallery {
    display: flex;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    & { // hide scrollbar in image gallery
      -ms-overflow-style: none;
      scrollbar-width: none;
      
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .gallery-wrapper {
      width: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;

      .image-wrapper {
        display: flex;
        padding-left: $element-spacing;
        scroll-snap-align: start;

        &:last-child {
          padding-right: $element-spacing;
          scroll-snap-align: end;
        }

        .image {
          max-height: 50vh;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}
