// Header
header {
  padding: $gutter;
  z-index: 1;

  .menu-list {
    @include clear-list-style-type;
    display: flex;
    gap: $gutter;
  }
}

// Overwrite for homepage
.home-page header {
  @include object-fixed();
}
