// Main
main {
  background-color: sandybrown;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  width: $dimension-100-percent;
  height: $dimension-100-percent;
  z-index: 0;

  .viewport {
    width: $dimension-100-percent*.8;
    height: $dimension-100-percent;
    perspective: $perspective;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
  }
}

// Overwrite for homepage
.home-page main {
    @include object-fixed();
    padding: $gutter;
  }
