// Imports
@import './settings';
@import './view/body';
@import './view/case';
@import './view/footer';
@import './view/header';
@import './view/main';

// Global settings
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  width: $dimension-100-percent;
  height: $dimension-100-percent;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  // font-size: 62.5%;
}
