// 1. Variables
// 1.1 Global variables
// 2. Mixins

// 1. Variables
// 1.1 Global variables
$dimension-100-percent: 100%;
$gutter: 32px;
$perspective: 1000px;

// 2. Mixins
@mixin object-fixed(
  $x-axis: left,
  $y-axis: top
) {
  position: fixed;
  #{$x-axis}: 0;
  #{$y-axis}: 0;
}

@mixin clear-list-style-type {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
